<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Computer SCience Grad</h1>
            <span>Anna University</span>
            <span><address>Sri Sairam institute of Technoloy,Chennai</address><time>2014 to 2018</time></span>
        </header>
        
    </article>
    <article>
        <header>
            <h1>Higher secondary Education</h1>
            <span>Bishop Heber Higher Secondary School</span>
            <span><address>Trichy</address><time>2012 to 2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Schooling</h1>
            <span>Mahatama Gandhi Centenary Vidhyalaya </span>
            <span><address>Trichy</address></span>
        </header>
    </article>
</section>
